main .right_section article .content table tbody tr td span.table_pb {
    font-family: Inter;
    font-weight: 700;
    font-size: 110.13px;
    line-height: 12.25px;
    letter-spacing: 0%;
    text-align: center;
}

