<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farm story</title>
    <link rel="stylesheet" href="/Pam/css/admin/basic/header.css">
    <style>
   

main {
  width: 980px;
  height: 658px;
  margin: 0px auto;
  border: 1px solid blue;
}
footer{
  width: 980px;
  height: 41px;
  border: 1px solid blue;
  box-sizing: border-box;
  margin: 0px auto;
}

</style>
</head>
<body>
    <div id="wrapper">

        <header>
            <a href="#">
                <img class="head_logo" src="/Pam/images/admin/admin_logo.jpg" alt="ADMINISTRATOR">
            </a>
            <p>
                <a href="#"><span>HOME |</span></a>
                <a href="#"><span>로그아웃 |</span></a>
                <a href="#"><span>고객센터 |</span></a>
            </p>
        </header>
        <main>
            <p>main</p>
            <aside>주요기능</aside>
            <section>관리자메인</section>
            <section>section
                <article>상품현황
                    <table>
                        <tr>
                            <th>상품번호</th>
                            <th>상품명</th>
                            <th>구분</th>
                            <th>가격</th>
                            <th>재고</th>
                            <th>등록일</th>
                        </tr>
                        <tr>
                            <td>1011</td>
                            <td>사과500g</td>
                            <td>과일</td>
                            <td>4000원</td>
                            <td>100</td>
                            <td>2023-01-01</td>
                        </tr>
                        <tr>
                            <td>1011</td>
                            <td>사과500g</td>
                            <td>과일</td>
                            <td>4000원</td>
                            <td>100</td>
                            <td>2023-01-01</td>
                        </tr>
                        <tr>
                            <td>1011</td>
                            <td>사과500g</td>
                            <td>과일</td>
                            <td>4000원</td>
                            <td>100</td>
                            <td>2023-01-01</td>
                        </tr>
                    </table>
                </article>
                <article>주문현황
                    <table>
                        <table>
                            <tr>
                                <th>주문번호</th>
                                <th>상품명</th>
                                <th>판매가격</th>
                                <th>수량</th>
                                <th>배송비</th>
                                <th>합계</th>
                                <th>주문자</th>
                                <th>주문일</th>
                            </tr>
                            <tr>
                                <td>1011</td>
                                <td>사과500g</td>
                                <td>4000원</td>
                                <td>3개</td>
                                <td>3000원</td>
                                <td>8000원</td>
                                <td>홍길동</td>
                                <td>2023-01-01</td>
                            </tr>
                            <tr>
                                <td>1011</td>
                                <td>사과500g</td>
                                <td>4000원</td>
                                <td>3개</td>
                                <td>3000원</td>
                                <td>8000원</td>
                                <td>홍길동</td>
                                <td>2023-01-01</td>
                            </tr>
                            <tr>
                                <td>1011</td>
                                <td>사과500g</td>
                                <td>4000원</td>
                                <td>3개</td>
                                <td>3000원</td>
                                <td>8000원</td>
                                <td>홍길동</td>
                                <td>2023-01-01</td>
                            </tr>
                        </table>
                </article>
                <article>회원현황
                    <table>
                        <tr>
                            <th>회원아이디</th>
                            <th>이름</th>
                            <th>닉네임</th>
                            <th>휴대폰</th>
                            <th>이메일</th>
                            <th>등급</th>
                        </tr>
                        <tr>
                            <td>a101</td>
                            <td>김유신</td>
                            <td>유신123</td>
                            <td>010-1234-1001</td>
                            <td>yusin123@naver.com</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>a101</td>
                            <td>김유신</td>
                            <td>유신123</td>
                            <td>010-1234-1001</td>
                            <td>yusin123@naver.com</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>a101</td>
                            <td>김유신</td>
                            <td>유신123</td>
                            <td>010-1234-1001</td>
                            <td>yusin123@naver.com</td>
                            <td>2</td>
                        </tr>
                    </table>
                </article>
    
            </section>
        </main>
        <footer></footer>
    </div>
</body>
</html>