.m-10{
    margin-top: 15px;
    margin-bottom: 10px;
}

article > .user_list tr th{
    height: 42.5px;
}
article > .user_list tr th:nth-child(1){width: 40.17px;}
article > .user_list tr th:nth-child(2){width: 65.14px;}
article > .user_list tr th:nth-child(3){ width: 65.14px;}
article > .user_list tr th:nth-child(4){width: 71.66px;}
article > .user_list tr th:nth-child(5){ width: 155.66px;}
article > .user_list tr th:nth-child(6){width: 106.41px;}
article > .user_list tr th:nth-child(7){width: 56.45px;}
article > .user_list tr th:nth-child(8){width: 136.45px;}
article > .user_list tr th:nth-child(9){width: 86.92px;}
