    /* 왼쪽 섹션*/
     main {
        margin: 0 auto;
        width: 980px;
        height: 650px;
     }

     main > .left_section{
        width: 176px;
        height: 650px;
        box-sizing: border-box;
        float: left;
        border-right: 0px solid transparent;
        background: url("/Pam/images/sub_aside_bg_line.png") repeat-y right; 
        
     }

     main > .left_section > aside >  article:nth-of-type(1){
        width: 175px;
        height: 81px;
        position: relative;
     }

     main > .left_section > aside >  article:nth-of-type(2){
        width: 175px;
        height: 233px;
        background: url("/Pam/images/sub_aside_bg_lnb.png");
        position: relative;
     }
     
     main > .left_section > aside >  article:nth-child(1) > ul > li > img{
         width: 130px;
         height: 45px;
         position: absolute;
         left: 16px;
         top : 16px;
    }
        
    main > .left_section > aside > article:nth-child(2) > ul > li:nth-child(1) img{
        width: 175px;
        height: 29px;
        position: absolute;
        top: 26px;
    }
        
    main > .left_section > aside >  article:nth-child(2) > ul > li:nth-child(2) img{
        width: 175px;
        height: 29px;
        position: absolute;
        top: 61px;
    }
    
    /*오른쪽 섹션*/
    main > .right_section{
        width: 802px;
        height: 100%;
        float: right;
  
        box-sizing: border-box;
    }

    main > .right_section p{
      color: #666666;
      font-size: 12px;
    }

    main > .right_section .content > p{
      font-weight: 400;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0%;

    }

    main > .right_section >  article .eco_txt{
      color: #91BA15;
      line-height: 14.52px;
      font-weight: 700;
    }



    main > .right_section > article > div{
      width: 762px;
      height: 650px;
      float: right;
      box-sizing: border-box;
    }

    main > .right_section > article > div:nth-child(1){
      width: 762px;
      height: 72px;
      box-sizing: border-box;
      border-bottom: 1px solid #C2C2C2
    }

    

     main > .right_section > article > div > div:nth-child(1) > img{
      float: left;
      margin-top: 41px;
     }

     main > .right_section > article > div > div:nth-child(2){
      float: right;
      margin-top: 50px;
      box-sizing: border-box;
     }

    main > .right_section > article > div:nth-child(2){
      width: 762px;
      height: 578px;
      
    }

    main > .right_section > article > div:nth-child(2) > .sub_page1_article_txt{
      margin-top: 40px;
    }

    /* 찾아오시는 길 CSS*/
    
    